# Project
dev.yaml
Energy2Shelly_ESP

# ESPHome
secrets.yaml
.esphome

# Python
__pycache__/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
